.App-filter-card {
  width: 18rem;
  margin-bottom: 15px;
}

.App-filter-header {
  color: #111111;
}

.App-filter-heading {
  text-align: center !important;
  margin-top: 2rem;
}

.App-filter-heading-launch-year {
  text-align: center !important;
  margin-top: -1rem;
}

.App-filter-hr {
  margin: 0.6rem;
}

.App-filter-button-container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
}

.App-filter-button {
  flex: 0 40%;
  margin: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color: #070606;
  padding-left: 16px;
}

.App-developed-by {
  text-align: center !important;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: calc(16px + 2vmin);
  color: #070606;
}
